/* Regole generali */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* regole header */



header {
  height: 100px;
  padding-top: 10px;
}


#logo {
  height: 50px;
  width: auto;
  border-right: 1px solid lightgrey;
  padding-right: 15px;
}


ul li {
  display: inline-block;
  padding-right: 10px;
  padding-top: 20px;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: grey;
}

/* regole main */
.container {
  width: 50%;
  margin: 0 25%;
}

/* Sezione primo blocco */
.firstbox {
  height: 400px;
  margin: 20px 0;
  position: relative;
  border-radius: 10px;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}


.firstbox p:nth-child(2) {
  color: white;
  position: absolute;
  left: 40px;
  bottom: 65px;
  font-size: 30px;
}

.firstbox p:last-child {
  color: white;
  position: absolute;
  bottom: 30px;
  left: 40px;
  font-size: 15px;
}

/* Sezione secondo blocco */
.row::after {
  content:"";
  display: table;
  clear: both;
  margin-bottom: 10px;
}

.topside {
  height: 80px;
  width: 100%;
  margin-bottom: 15px;

  padding-top: 15px;
}

.topside span {
  font-size: 15px;
  color: grey;
}

aside {
  width: 20%;
  height: auto;
  float: left;
  margin-bottom: 15px;
}


.sidecenter {
  height: auto;
  width: 57%;
  margin: 0 1.5%;
  float: left;
  margin-bottom: 15px;
}


.img1 {
  background-image: url("../img/img-1.jpg");
  height: 200px;
  position: relative;
  margin-bottom: 10px;
  background-size: contain;
  background-repeat: no-repeat;
}

.img2 {
  background-image: url("../img/banner-2.jpg");
  height: 200px;
  position: relative;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img3 {
  background-image: url("../img/img-6.jpg");
  height: 200px;
  position: relative;
  margin-bottom: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}


.text {
  padding-top: 10px;
  color: grey;
  font-size: 15px;
}

/* regole footer */

footer {
  margin-top: 30px;
  text-align: center;
}

#heart {
  color: red;
}
